@model IEnumerable<ktragiuaky.Models.HocPhan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTinChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoTinChi)
                </td>
                <td>
                    <form asp-action="Register" method="post">
                        <input type="hidden" name="selectedMaHps" value="@item.MaHp" />
                        <button type="submit">Đăng Ký</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
